<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <lr_predefine_size>
                <a0>
                    <title>A0</title>
                    <width>1.189</width>
                    <height>0.841</height>                    
                </a0>
                <a1>
                    <title>A1</title>
                    <width>0.841</width>
                    <height>0.594</height>                    
                </a1>
                <a2>
                    <title>A2</title>
                   <width>0.594</width>
                    <height>0.420</height>                    
                </a2>
                <a3>
                    <title>A3</title>
                    <width>0.420</width>
                    <height>0.297</height>                    
                </a3>
                <a4>
                    <title>A4</title>
                    <width>0.297</width>
                    <height>0.210</height>                    
                </a4>
                <a5>
                    <title>A5</title>
                    <width>0.148</width>
                    <height>0.210</height>
                </a5>
                <a6>
                    <title>A6</title>
                    <width>0.105</width>
                    <height>0.148</height>
                </a6>
                <a7>
                    <title>A7</title>
                    <width>0.074</width>
                    <height>0.105</height>
                </a7>
                <a2030>
                    <title>A2030</title>
                    <width>0.508</width>
                    <height>0.762</height>
                </a2030>
            </lr_predefine_size>
        </default>
    </config>