<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">    
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="lr_matrixtable_quote_to_order" type="LR\Matrixtable\Plugin\ToOrderItem" sortOrder="1" />
    </type>
    <preference for="Magento\Catalog\Block\Product\View\Options\Type\Select" type="LR\Matrixtable\Block\Product\View\Options\Type\Select" />
    <preference for="Magento\Swatches\Block\Product\Renderer\Configurable" type="LR\Matrixtable\Block\Product\Renderer\Configurable" />
    <preference for="Magento\Catalog\Block\Product\View\Options" type="LR\Matrixtable\Block\Product\View\Options" />    
</config>